// Variables

$nav-bar--sf1-height: 48px;
$sf1-base-h: 12;
$sf1-base-v: 4;

// Nav-bar

.nav-bar--sf1 {
  @extend %clearfix;
  @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
    background: $white;
    margin-bottom: $sf1-base-h+px;
    min-height: $nav-bar--sf1-height;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $component-border-color-alt;
    &.menu--open {
      @include radius-bottom();
    }
    .button, .button:hover, .button:active, .button:focus {
      background: rgba(0, 0, 0, 0.07);
      border: 0;
      color: $grey-dark;
      padding: 6.66667px 16px;
      font-size: 12.8px;
      line-height: 1.5;
      border-radius: 4px;
      margin-top: 8px;
      position: relative;
      z-index: 1;
    }
  }
  .dropdown-menu {
    @include erase-radius-top();
    margin: 0;
    @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
      width: 100%;
      position: relative;
      border-left: 0;
      border-right: 0;
      @include erase-radius();
    }
  }
  // The part that never hides
  &__top {
    @extend %clearfix;
    padding: $sf1-base-h+px 0;
    height: $nav-bar--sf1-height;
    @media (min-width: $brkpoint-md+1) {
      float: left;
    }
  }
  // Title
  &__title {
    @extend .inline-block;
    vertical-align: middle;
    @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      line-height: $nav-bar--sf1-height;
      font-size: $h3-font-size;
      &.has-subtitle {
        display: block;
        line-height: 16px;
        font-size: $h4-font-size;
        padding-top: 8px;
      }
    }
  }
  &__subtitle {
    @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
      text-align: center;
      display: block;
      line-height: 16px;
      padding-bottom: 8px;
      color: $input-icon-color;
      font-size: $h5-font-size;
      position: absolute;
      top: 24px;
      width: 100%;
    }
  }
}

.appendage--open {
  .nav-bar--sf1__appendage {
    @extend .block;
  }
}

.menu--open {
  .nav-bar--sf1__menu-toggle {
    @include erase-radius-bottom();
    @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
      @include erase-radius();
    }
  }
}

.menu--open {
  .nav-bar--sf1__list {
    display: block;
  }
}

// sections

.section__title {
  @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
    background-color: $white;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: $component-border-color-alt;
    font-size: 75%;
    padding: $sf1-base-h/2+px $sf1-base-h+px;
    margin-top: -1px;
  }
}

.content__section {
  @extend %clearfix;
  @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
    padding: $sf1-base-h+px;
    border-bottom: 1px solid $component-border-color;
    + .list-group {
      @include erase-radius;
      margin-top: -1px;
      margin-bottom: -1px;
      border-left: 0;
      border-right: 0;
      a {
        padding: $sf1-base-h+px $sf1-base-h+px;
      }
      + .panel {
        margin-top: -1px;
      }
    }
  }
}

// sf1 scope

.sf1-scope {
  .content, .content--full {
    padding: 0 $sf1-base-h+px;
  }
}