// Surgical

.mar {
  @include add-surgical-space(margin);
}

.pad{
  @include add-surgical-space(padding);
}

// show/hide elements

span {
  @include show-brkpoints(inline-block);
}

// building blocks for form builder

.building-block {
  @extend .relative;
  padding: $base-h-padding+px 0;
  height: auto;
  &:hover {
    @include radius();
    cursor: move;
    cursor: -webkit-grab;
    border-color: $color-primary;
    border-style: dashed;
    border-width: 1px;
    margin: (-1px) (-($base-h-padding+px));
    padding: ($base-h-padding+px) ($base-h-padding - 1+px);
    height: auto;
  }
  &.edit-this {
    border: 0;
    margin: 0px -16px;
    padding: 16px 16px;
    .building-block__edit {
      > .panel {
        border-color: $color-primary;
      }
    }
  }
  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }
  p ~ p {
    margin-top: $base-h-padding+px;
  }
  &.is-empty {
    @include erase-radius();
    @include single-transition(color);
    @include single-transition(padding);
    border: 0;
    border-top: 1px dashed $component-border-color-light;
    padding: 0;
    color: $input-icon-color;
    margin: 24px 0;
    &:hover {
      @extend .pointer;
      border-top: 1px dashed $color-primary;
      border-bottom: 1px dashed $color-primary;
      padding: $base-h-padding*3+px;
      margin: 24px 0px;
      &:after {
        border-color: $color-primary;
      }
      &:before {
        color: $color-primary;
      }
    }
    &:after {
      @include radius(50%);
      position: absolute;
      height: 32px;
      width: 32px;
      content: '';
      left: -34px;
      top: -19px;
      background: $white;
      border: 1px solid $component-border-color-alt;

    }
    @extend .juicon-plus;
    &:before {
      @extend .juicon;
      top: -10.5px;
      left: -24.5px;
      position: absolute;
      z-index: 1;
    }
  }
  .building-block__edit {
    display: none;
  }
  &.edit-this {
    .building-block__done {
      display: none;
    }
    .building-block__edit {
      display: block;
    }
  }
  //  p:last-child {
  //    margin-bottom: $base-h-padding+px;
  //  }
}